<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputFirstName">First Name</label>
    <div class="controls">
      <input type="text" id="inputFirstName" placeholder="First Name">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputLastName">Last Name</label>
    <div class="controls">
      <input type="text" id="inputLastName" placeholder="Last Name">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputGender">Gender</label>
    <div class="controls">
      <select id="inputGender">
        <option value="1">Male</option>
        <option value="2">Female</option>
      </select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputEthnicity">Ethincity</label>
    <div class="controls">
      <select id="inputEthnicity">
        <option value="1">Chinese</option>
        <option value="2">Malay</option>
        <option value="3">Indian</option>
        <option value="4">Eurasian</option>
        <option value="5">Others</option>
      </select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputIdentification">Identification</label>
    <div class="controls">
      <input type="text" id="inputIdentification" placeholder="Identification">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputDOB">Date of Birth</label>
    <div class="controls">
      <input type="text" id="inputDOB" data-behaviour="datepicker" placeholder="Date Of Birth">
    </div>
  </div>
  

  <div class="control-group">
    <div class="controls">
    
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </div>
</form>