<div class="span9 well">
  <div class="row">
    <div class="span4"><h2>Add An App</h2></div>
  </div>
</div>

<form class="form-horizontal">

  <div class="control-group">
    <label class="control-label" for="name">Name</label>
    <div class="controls">
      <input type="text" id="name">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="description">Description</label>
    <div class="controls">
      <textarea id="description"></textarea>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="version">Version</label>
    <div class="controls">
      <input id="version"></input>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="file">App Binary</label>
    <div class="controls">
      <input type="file" id="file">
    </div>
  </div>

  <div class="control-group">
    <div class="controls">

      <button type="submit" class="btn btn-primary">Add App</button>
    </div>
  </div>
</form>