<div class="span10">
	<h2>View/Download Available Apps</h2>
	<div class="well well-small">
		<p class="text-info">The apps might have requirements. Please check before using.</p>
	</div>

	<div id="table-container"></div>
</div>
