<div class="span10">
	<h2>View/Download Available Apps</h2>
	<div class="well well-small">
		<p class="text-info">The apps might have requirements. Please check before using.</p>
	</div>
	<form class="form-search">
		<div class="input-append">
			<input type="text" class="span9 search-query">
			<!-- <button type="submit" class="btn" id="searchButton">Search</button> -->
			<a href="#app/view" id="searchButton" class="btn">Search</a>
		</div>
	</form>

	<div id="table-container"></div>
</div>
