<div class="container-fluid">
  <div class="row-fluid">
    <div id="top-panel" class="span12 main-content">
      <p>
        <form class="form-search">
          <div class="input-append" style="width:100%;">
            <input type="text" class="span11 search-query">
            <!-- <button type="submit" class="btn" id="searchButton">Search</button> -->
            <a href="#dashboard" id="searchButton" class="btn">Search</a>
          </div>
        </form>
      </p>
      <div id="table-container"></div>
    </div>

    <hr class="span12">

    <div id="bottom-panel" class="span12 data-panel">
      <div class="row project-list">
        <div class="span2 data-item">
          <img src="http://lorempixel.com/200/200/" class="img-polaroid"/>
          <p class="caption">This is a span</p>
        </div>

        <div class="span2 data-item">
          <img src="http://lorempixel.com/200/200/" class="img-polaroid"/>
          <p class="caption">This is a span.. a span. a spana spana spana spana span</p>
        </div>
        <div class="span2 data-item">
          <img src="http://lorempixel.com/200/200/" class="img-polaroid"/>
          <p class="caption">This is a span</p>
        </div>

        <div class="span2 data-item">
          <img src="http://lorempixel.com/200/200/" class="img-polaroid"/>
          <p class="caption">This is a span</p>
        </div>

        <div class="span2 data-item">
          <img src="http://lorempixel.com/200/200/" class="img-polaroid"/>
          <p class="caption">This is a span</p>
        </div>
        <div class="span2 data-item">
          <img src="http://lorempixel.com/200/200/" class="img-polaroid"/>
          <p class="caption">This is a span</p>
        </div>

        <div class="span2 data-item">
          <img src="http://lorempixel.com/200/200/" class="img-polaroid"/>
          <p class="caption">This is a span</p>
        </div>

      </div>
    </div>

  </div>


</div>