<td>Awesome Service</td>
<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
<td>Mark Vene</td>
<td>41</td>
<td>1.0.1</td>
<td>25-09-2012</td>
<td>
	<div class="btn-group">
		<button class="btn btn-success"><i class="icon-edit"> Edit</i></button>
		<button class="btn btn-warning"><i class="icon-trash"> Delete</i></button>
	</div>
</td>
