<h1>Add a visit</h1>

<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="dateOfVisit">Visit Date</label>
    <div class="controls">
      <input type="text" id="dateOfVisit" data-behaviour="datepicker">
    </div>
  </div>

  

  <div class="control-group">
    <div class="controls">
    
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </div>
</form>